version: '3.8'

services:
  frontend:
    build: . 
    container_name: traduction_frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000  
    restart: unless-stopped